[Unit]
Description=Run zram-clean service periodically (backup to Path detection)
Documentation=https://github.com/linuxelitebr/zlogs

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Unit=zram-clean.service

[Install]
WantedBy=timers.target