[Unit]
Description=Clean zram log files when necessary
Documentation=https://github.com/linuxelitebr/zlogs
After=zram1-setup.service
Requires=zram1-setup.service
# 10 trials in 5 minutes
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/sbin/clean-zram-logs.sh
TimeoutStartSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zram-clean
User=root
Group=root
RemainAfterExit=no
#SuccessExitStatus=0

[Install]
WantedBy=multi-user.target