[Unit]
Description=Run zram-clean service periodically (backup to Path detection)
Documentation=https://github.com/linuxelitebr/zlogs

[Timer]
# Path backup solution, but less frequent
OnBootSec=2min
OnUnitActiveSec=1h
AccuracySec=1min
#RandomizedDelaySec=5min
Unit=zram-clean.service

[Install]
WantedBy=timers.target